global-include Makefile* *.py *.txt
include ANNOUNCE ChangeLog MANIFEST.in TODO
include mimedecode.docbook mimedecode.man mimedecode.html
include mk-distr tox.ini
include test/.mailcap test/README test/test_all
