include ANNOUNCE ChangeLog INSTALL.txt Makefile* MANIFEST.in TODO
include mimedecode.docbook mimedecode.man mimedecode.html mimedecode.txt
include ez_setup.py mk-distr requirements.txt
recursive-include test .mailcap Makefile README test_all *.py *.txt
